.ctxpre { font-size:10pt; background-color: #eeeeee; }
.ctxpost { font-size:10pt; background-color: #eeeeee; }
.choose {color:#000066; font-style: italic}
.chosen {color:#000066; font-style: italic; font-weight: bold;}
.qitem {border-style: solid; border-width:2px; border-color: #888888; 
	width:80%; padding:2px; margin-top:3px;}
.qitem_new {border-style: solid; border-width:2px; border-color: #880088; 
	    width:80%; padding:2px; margin-top:3px;}

#status { background-color: #ffcc22; position: fixed; top: 30px;
	  right: 30px; padding: 10px;}

.srctext { font-size: 12pt; line-height: 150%;
	   font-family:Helvetica,Arial,sans-serif;
	   font-style: italic;
	   border-top: solid thin black;
	   margin-top: 20pt;
	   margin-bottom: 12pt;  }
.difference { font-size: 11pt; }
.file_id { font-weight: bold; font-size: 14pt;
	   margin-top: 20pt; }
.konn2 {
    width: 320px;
    font-size: 12pt;
    font-family: sans-serif;
    border: solid thin grey;
    background: #eeeeee;
}
.mention_unwanted {
  color: #7799dd;
}
.treebox {
   background: #eeeeee;
   position: relative;
   width: 640px;
   height: 480px;
}
.node {
   background: white;
   position: absolute;
   font-size: 13px;
   font-family: sans-serif;
   text-align: center;
   border-width: 2px;
   border-color: black;
   border-style: solid;
   padding: 3px;
   z-index: 2;
}
.vroot {
   background: white;
   position: absolute;
   font-size: 13px;
   font-family: sans-serif;
   text-align: center;
   border-width: 2px;
   border-color: #666666;
   border-style: solid;
   color: #666666;
   padding: 3px;
   z-index: 2;
}
.edgelabel {
   background: #eeeeee;
   position: absolute;
   border-width: 1px;
   border-color: black;
   border-style: solid;
   padding: 3px;
   z-index: 2;
   font-size: 9px;
   font-family: sans-serif;
   text-align: center;
}
.hline {
   position: absolute;
   background: #aaaaaa;
   height: 2px;
   z-index:1;
}
.vline {
   position: absolute;
   background: #aaaaaa;
   width: 2px;
   z-index:1;
}
.hlineR {
   position: absolute;
   background: #cccccc;
   height: 2px;
}
.vlineR {
   position: absolute;
   background: #cccccc;
   width: 2px;
}

.data_table {
  border: 2px solid #888888;
  border-collapse:collapse;
}

.data_table .header_row {
   background: #eeeeee;
}
.data_table .even_row {
   background: #ddeeff;
}
.data_table .odd_row {
   background: #ffffff;
}
.data_table td {
   padding: 2px;
   margin: 0px;
   padding-right: 15px;
    font-size: 10pt;
    font-family: sans-serif;
}
.save_disabled {
  border: 2px solid #dddddd;
  padding: 2px;
  font-size:10pt;
  font-family: sans-serif;
  color: #dddddd;
  background: #eeeeee;
}
.save_enabled {
  border: 2px solid #aaaaaa;
  padding: 2px;
  font-size:10pt;
  font-family: sans-serif;
  font-weight: bold;
  color: #3388dd;
  background: #eeeeee;
}
.save_inprogress {
  border: 2px solid #aaaaaa;
  padding: 2px;
  font-size:10pt;
  font-family: sans-serif;
  font-weight: bold;
  color: #ff6600;
  background: #eeeeee;
}
#left_nav {
 margin-left:0; margin-right:75%;
 width:25%;
 border: 1px solid #dddddd;
 padding: 2px;
 background: #eeeeee;
}
#main {
 float:right;
 width:70%;
 border: 1px solid #dddddd;
 background: #eeeeee;
 padding: 3px;
}
