<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>[{{corpus_name}}] Annotation database</title>
<script language="javascript" src="/static/json2.js"></script> 
<script language="javascript" src="/static/prototype.js"></script> 
<script language="javascript" src="/static/qct.js"></script>
<link rel="stylesheet" href="/static/pycwb.css" type="text/css">

<script type="text/javascript">
<!--
{{js_code}}
corpus_name="{{corpus_name}}";
//-->
</script>
</head>

<body>
<h1>{{task._id}} ({{corpus_name}})</h1>
<div id="status">loaded.</div>
{{output}}
</body></html>
