<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>[{{corpus_name}}] Annotation database</title>
<script language="javascript" src="/static/json2.js"></script> 
<script language="javascript" src="/static/prototype.js"></script> 
<script language="javascript" src="/static/qct.js"></script>
<link rel="stylesheet" href="/static/pycwb.css" type="text/css">
<link rel="stylesheet" href="/static/lightbox.css" type="text/css">
<script type="text/javascript">
<!--
{{js_code}}
corpus_name="{{corpus_name}}";
//-->
</script>
</head>

<body>
<h1>{{task._id}} ({{corpus_name}})</h1>
<div id="status">loaded.</div>
{{output}}
<div id="overlay"></div>
<div id="lightbox">
<b>Die Annotation konnte nicht gespeichert werden.</b>
<p>
<ul>
<li>Bist Du als richtiger Benutzer eingeloggt?
<li>Hast Du den richtigen Korpus ausgewählt?
<li>Bist Du für diese Daten als AnnotatorIn eingetragen?
<li>Funktioniert die Netzwerkverbindung?
</ul>
<p>
[<a href="javascript:displayLightbox('none')">schließen</a>]
</div>
</body></html>
