<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Annotation database</title>
<link rel="stylesheet" type="text/css" href="/static/pycwb.css">
<script language="javascript" src="/static/prototype.js"></script> 
<script language="javascript" src="/static/json2.js"></script> 
<script language="javascript" src="/static/qct.js"></script>
<script language="javascript" src="/static/konn2.js"></script>
<script language="javascript">
<!--
{{jscode}}
//-->
</script>
</head>
<body onload="create_widgets();">
<div id="panel">
</div>
<div id="status">
Loading...
</div>
</body>
</html>
