<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>{% block title %}Annotation database{% endblock %}</title>
<script src="/static/jq/jquery-1.7.1.min.js"></script>
<script src="/static/jq/jquery.cookie.js"></script>
<script src="/static/jq/jquery.ui.core.min.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.position.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/jq/jquery.ui.resizable.min.js"></script>
<script src="/static/jq/jquery.ui.dialog.min.js"></script>
<script src="/static/jq/jquery.ui.tabs.min.js"></script>
<script src="/static/jq/jquery.ui.autocomplete.min.js"></script>
<script language="javascript" src="/static/json2.js"></script> 
<script language="javascript" src="/static/qct_jquery.js"></script>
<script src="/static/ui.selectmenu.js"></script>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<style>
body {
  padding-top: 45px;
}
</style>
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="/static/pycwb.css" type="text/css">
<link rel="stylesheet" href="/static/themes/base/jquery.ui.all.css" type="text/css">
<link rel="stylesheet" href="/static/themes/bootstrap/jquery-ui-1.8.6.custom.css" type="text/css">
<link rel="stylesheet" href="/static/ui.selectmenu.css" type="text/css">

{%block head%}{%endblock%}
</head>
<body>
<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/pycwb">PyCWB</a>
	  <ul class="nav">
	    <li><a href="/pycwb">Home</a></li>
	    <li><a href="/pycwb/tasks">All Tasks</a></li>
	    <li><a href="/pycwb/discourse_list">Discourse</a></li>
	    <li><a href="/pycwb/senses">Sense editor</a></li>
	    <li><a href="/pycwb/stunden">Stundentool</a></li>
            </ul>
        </div>
      </div>
</div>
<div class="container">
{%block body%}
{%endblock%}
</div>
</body>
</html>
