<html>
<head>
<title>[{{corpus_name}}] Annotated relations</title>
<link rel="stylesheet" href="/static/discourseEdit.css">
</head>
<body>
<h1>Annotated Relations {{corpus_name}}</h1>
{% for rel_name, count, occurrences in results %}
<div>
{% set percent = (100.0*count)/sum_all %}
<h3>{{rel_name}} ({{count}} occurrences, {{"%.2f"|format(percent)}}%)</h3>
{% for docid,txt,edus in occurrences %}
<a href="/pycwb/discourse/{{docid}}?force_corpus={{corpus_name}}">{{txt}}</a>
{% for edu in edus %}{{edu}} {% endfor %}<br>
{% endfor %}
</div>
{% endfor %}
</body>
