<html>
<head>
<title>Discourse Annotator</title>
<script src="/static/jquery.js"></script>
<script src="/static/discourse.js"></script>
<script type="text/javascript">
  tokens={{tokens}};
  sentences={{sentences}};
  edus={{edus}};
  indent={{indent}};
  topics=[];

$(function() {
$('#text').css({'height':(($(window).height())-200)+'px'});
$(window).resize(function(){
  $('#text').css({'height':(($(window).height())-200)+'px'});
})});  
</script>
<link rel="stylesheet" href="/static/discourseEdit.css">
</head>
<body onload="fill_segments();">
<div id="text" style="position:relative; height: 400px; margin:1px; border: 2px solid #aaaaaa; overflow:auto">
</div>

<div id="auxinput">
</div>
<div id="status">
</div>
</body>
