<html>
<head>
<title>Discourse Annotator</title>
<script src="/static/jq/jquery-1.7.1.min.js"></script>
<script src="/static/jq/jquery.ui.core.min.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.mouse.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/jq/jquery.ui.draggable.min.js"></script>
<script src="/static/jq/jquery.ui.position.min.js"></script>
<script src="/static/jq/jquery.ui.resizable.min.js"></script>
<script src="/static/jq/jquery.ui.dialog.min.js"></script>
<script src="/static/json2.js"></script>
<script src="/static/qct_jquery.js"></script>
<link rel="stylesheet" href="/static/themes/base/jquery.ui.all.css" type="text/css">
<link rel="stylesheet" href="/static/themes/redmond/jquery-ui-1.8.2.custom.css" type="text/css">
<link rel="stylesheet" href="/static/pycwb.css" type="text/css">
<script src="/static/discourse.js"></script>
<script type="text/javascript">
  disc_id={{disc_id}};
  sent_id={{sent_id}};
  tokens={{tokens}};
  sentences={{sentences}};
  edus={{edus}};
  indent={{indent}};
  topics={{topics}};
  relations={{relations}};
  nonedu={{nonedu}};
  uedus={{uedus}};
  corpus_name={{corpus_name}}
save_endpoint='/pycwb/saveDiscourse/'+disc_id+'?force_corpus='+corpus_name;

function on_layout_resize(elm,pane) {
 $('#text').css({'height':($('.ui-layout-center').height()-2)+'px'});
}

$(function() {
 $('#status').click(function() {
 $('#status').text('');
});
 $info=$('#dialog').dialog({title:'Info',autoOpen:false,
   modal:true,close:refocus_text});
$('#relations-text').text(relations)
   .blur(function() { 
  relations=$('#relations-text').val(); 
  var errors=parse_relations(relations);
  if (errors!='') {
    alert(errors);
  }
  redisplay_all();
  dirty['relations']=relations; 
  resetTimeout();
  return 1;
});
$rels=$('#relations-div').dialog({title:'Relations',autoOpen:false,
   close:refocus_text,resize:function(event,ui){
   $('#relations-text').width($('#relations-div').width()-15) 
   .height($('#relations-div').height()-10);
 }});
$('#text').css({'height':(($(window).height())-100)+'px'});
$(window).resize(function(){
  $('#text').css({'height':(($(window).height())-100)+'px'});
});
fill_segments();
});
</script>
<link rel="stylesheet" href="/static/discourseEdit.css">
</head>
<body bgcolor="#eeeeee">
<div class="ui-layout-center">
<div id="text" style="position:relative; height: 400px; margin:1px; border: 2px solid #aaaaaa; overflow:auto">
</div>
<div id="status">
</div>
</div>
<div id="auxinput" style="height:0px">
</div>
<div id="dialog" style="display:none">
</div>
<div class="ui-layout-south">
<div id="relations-div" style="width:280px;height:100px">
<textarea style="width:270px;height:90px" id="relations-text">
</textarea>
</div>
</div>
</body>
