<html>
<head>
<title>Drilldown</title>
<style type="text/css" title="currentStyle"> 
  @import "static/demo_page.css";
  @import "static/demo_table.css";
  @import "static/drilldown.css";
</style> 
<script src="static/jq/jquery-1.7.1.min.js"></script>
<script src="static/jq/jquery.dataTables.min.js"></script>
<script src="static/drilldown.js"></script>
<script>
<!--
{{jscode}}

$(function() {
   do_setup(type);
   reset_display();
});
// -->
</script>
</head>
<body>
<div id="navigation">
[<a href="javascript:reset_display()">Home</a>]<br>
<form>
Feature prefix: <input id="feat_re" name="feat_re">
  <select name="minfreq" id="minfreq">
    <option value="1">&gt;= 1</option>
    <option value="5">&gt;= 5</option>
    <option value="10">&gt;= 10</option>
    <option value="20">&gt;= 20</option>
    <option value="50">&gt;= 50</option>
  </select>
<a href="javascript:reset_display()">recompute</a>
</form>
</div>
<div id="display">
</div>
</body>
