<html>
<head>
<title>Annotation database</title>
<script src="/static/jq/jquery-1.4.2.min.js"></script>
<script src="/static/jq/jquery.cookie.js"></script>
<script src="/static/jq/jquery.ui.core.min.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/jq/jquery.ui.position.min.js"></script>
<script src="/static/jq/jquery.ui.autocomplete.min.js"></script>
<script src="/static/jq/ui.selectmenu.js"></script>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="/static/pycwb.css" type="text/css">
<link rel="stylesheet" href="/static/themes/base/jquery.ui.all.css" type="text/css">
<link rel="stylesheet" href="/static/themes/redmond/jquery-ui-1.8.2.custom.css" type="text/css">
<link rel="stylesheet" href="/static/ui.selectmenu.css" type="text/css">
<script>
all_corpora=[];
{% for corpus in corpora %}all_corpora.push('{{corpus}}')
{% endfor %}

function get_corpus() {
    c=$.cookie('corpus') || 'TUEBA4';
    return c;
}
function set_corpus(c) {
  if (arguments.length==0) {
    c=$.cookie('corpus') || 'TUEBA4';
  } else {
    $.cookie('corpus',c,{path:'/pycwb'});
  }
  $('#corpus').text(c);
}

$(function() {
$('#input-word').autocomplete({
  source: "/pycwb/get_words",
  minLength: 2,
  focus: function(event,ui) {
   $('#input-word').val(ui.item[0])}})
.data("autocomplete")._renderItem=function(ul,item) {
 return $("<li></li>").data("item.autocomplete",item)
   .append("<a>"+item[0]+" ("+item[1]+")</a>")
   .appendTo(ul);}
   $("input:submit").button();

$("#corpus_chooser > option [val="+get_corpus()+"]").attr('selected','selected');
 sm=$("#corpus_chooser").selectmenu({style:'dropdown',width:200});

 sm.bind('selectmenuchange',function(x) {
   var idx=sm.selectmenu('value');
   set_corpus(all_corpora[idx]);
   window.location.href="/pycwb/?corpus="+all_corpora[idx];
});
});
</script>
</head>
<body onload="set_corpus();">
<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/pycwb">PyCWB</a>
	  <ul class="nav">
	    <li class="active"><a href="/pycwb">Home</a></li>
	    <li><a href="/pycwb/tasks">All Tasks</a></li>
	    <li><a href="/pycwb/discourse_list">Discourse</a></li>
	    <li><a href="/pycwb/senses">Sense editor</a></li>
	    <li><a href="/pycwb/stunden">Stundentool</a></li>
            </ul>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
<div class="span4">
{% if user %}
Eingeloggt als {{user}}. (<a href="/pycwb/logout">logout</a>, <a href="/pycwb/stunden">stunden</a>)
{% else %}
<a href="/pycwb/login">Login</a>
{% endif %}
<p>
<form>
<div id="corpus_radio">
<select id="corpus_chooser">
{% for corpus in corpora %}
{% if corpus==corpus_name %}
<option value="{{corpus}}" selected>{{corpus}}</option>
{% else %}
<option value="{{corpus}}">{{corpus}}</option>
{% endif %}
{% endfor %}
</select>
</div>
</form>
{% if user %}
<div>
<b>Annotate:</b><br>
{% for task in tasks %}
{% if task.level == 'konn2' %}
<a href="/pycwb/annotate2/{{task._id}}">{{task._id}}</a><br>
{% else %}
<a href="/pycwb/annotate/{{task._id}}">{{task._id}}</a><br>
{% endif %}
{% endfor %}
{% if tasks_ready %}
<i>(fertig)</i>
{% for task in tasks_ready %}
{% if task.level == 'konn2' %}
<a href="/pycwb/annotate2/{{task._id}}">{{task._id}}</a>
{% else %}
<a href="/pycwb/annotate/{{task._id}}">{{task._id}}</a>
{% endif %}
{% endfor %}
{% endif %}
</div>
<div style="margin-top: 3px">
<a href="/pycwb/discourse_list">Discourse Structure annotation</a>
<a href="/pycwb/discourse_rels">Relation counts</a>
<br>
<a href="/pycwb/tasks">All Tasks</a>
</div>
{% endif %}
</div>

<div class="span8">
  <div class="well">
<form method="POST" action="/pycwb/find_sent" class="form-search">
<input name="sent_no" placeholder="Satznummer finden"><button type="submit" class="btn">Finden</button>
</form>
<form method="POST" action="/pycwb/find_word" class="form-search">
<input id="input-word" placeholder="Wort finden" name="w"><button type="submit" class="btn">Finden</button>
</form>
</div>
</div>
</div>
</div>
</body>
