<html>
<head>
<title>Annotation database</title>
<script src="/static/jquery.js"></script>
<script src="/static/jquery.cookie.js"></script>
<script>
function set_corpus(c) {
  if (arguments.length==0) {
    c=$.cookie('corpus') || 'TUEBA4';
  } else {
    $.cookie('corpus',c);
  }
  $('#corpus').text(c);
}
</script>
</head>
<body onload="set_corpus();">
<h1>Index</h1>
{% if user %}
Eingeloggt als {{user}}. (<a href="/pycwb/logout">logout</a>)
{% else %}
<a href="/pycwb/login">Login</a>
{% endif %}
<p>
<table>
<tr valign="top">
<td>Satznummer finden:</td>
<td>
<form method="POST" action="/pycwb/find_sent">
<input name="sent_no"><input type="submit">
</form>
</td></tr><tr valign="top">
<td>Wort finden:</td>
<td>
<form method="POST" action="/pycwb/find_word">
<input name="w"><input type="submit">
</form>
</td>
</tr></table>
<p>
<form method="POST" action="/pycwb/annoquery">
<textarea cols="80" rows="4" name="q">
ForAny(rel1 in Comparison)
</textarea><br>
<select name="wset">
{% for task in tasks0 %}
<option value="{{task}}">{{task}}
{% endfor %}
</select>
<input type="submit" value="Query">
</div>

{% if user %}
<div>
<b>Annotate:</b>
{% for task in tasks %}
{% if task.scheme == 'konn2' %}
<a href="/pycwb/annotate2/{{task}}">{{task}}</a>
{% else %}
<a href="/pycwb/annotate/{{task}}">{{task}}</a>
{% endif %}
{% endfor %}
</div>
<a href="/pycwb/discourse_list">Discourse Structure annotation</a>
{% endif %}

<div style="margin-top:5px">
<b>Current corpus: <span id="corpus"></span></b>
Choose corpus:
{% for corpus in corpora %}
<a href="javascript:set_corpus('{{corpus}}')">{{corpus}}</a>
{% endfor %}
</div>
</body>
