<html>
<head>
<title>Sentence</title>
</head>
<body>
<h1>Sentence ${sent_id}</h1>
<div class="sent">
${sent_text}
</div>
<div class="link_box">
[<a href="${prev_sent}">&lt;prev</a>]
<a href="${text_url}">${text_id}</a>
[<a href="${next_sent}">next&gt;</a>]
</div>
</body>
