{%extends 'base.html'%}
{%block title%}Sentence {{sent_id}}{%endblock%}
{%block body%}
<div class="sent">
{{sent_text|escape}}
</div>
<div class="link_box">
[<a href="{{prev_sent}}">&lt;prev</a>]
<a href="{{text_url}}">{{text_id}}</a>
[<a href="{{next_sent}}">next&gt;</a>]
</div>
{{parses_html}}
{%endblock%}
</body>
