{%extends 'base.html'%}
{%block title%}Sentence {{sent_id}}{%endblock%}
{%block head%}
<script language="javascript">
$(function() {
$('#parses-tabs').tabs({collapsible:true,selected:-1});
});
</script>
{%endblock%}
{%block body%}
<div class="sent">
{{sent_text|escape}}
</div>
<div class="link_box">
[<a href="{{prev_sent}}">&lt;prev</a>]
<a href="{{text_url}}">{{text_id}}</a> <a href="/pycwb/discourse/{{disc_id}}?force_corpus={{corpus_name}}">(D)</a>
{%if has_gold %}<a href="/pycwb/printDiscourse/{{disc_id}}?who=*gold*&force_corpus={{corpus_name}}">(G)</a>{%endif%}
[<a href="{{next_sent}}">next&gt;</a>]
</div>
{{parses_html}}
{%endblock%}
</body>
