<html>
<head>
<title>Sketch</title>
<script src="/static/jq/jquery-1.4.2.min.js"></script>
<script src="/static/jq/jquery.ui.core.min.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.accordion.min.js"></script>
<script src="/static/jq/jquery.ui.mouse.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/jq/jquery.ui.position.min.js"></script>
<script src="/static/jq/jquery.ui.draggable.min.js"></script>
<script src="/static/jq/jquery.ui.position.min.js"></script>
<script src="/static/jq/jquery.ui.resizable.min.js"></script>
<script src="/static/jq/jquery.ui.dialog.min.js"></script>
<script src="/static/jq/jquery.ui.autocomplete.min.js"></script>
<script src="/static/jq/ui.selectmenu.js"></script>
<script src="/static/jq/jquery.tagcloud-2.js"></script>
<script src="/static/dracula/raphael-min.js"></script>
<script src="/static/dracula/dracula_graffle.js"></script>
<script src="/static/dracula/dracula_graph.js"></script>
<script src="/static/dracula/dracula-algorithms.js"></script>
<link rel="stylesheet" href="/static/drilldown.css" type="text/css">
<link rel="stylesheet" href="/static/themes/base/jquery.ui.all.css" type="text/css">
<link rel="stylesheet" href="/static/themes/redmond/jquery-ui-1.8.2.custom.css" type="text/css">
<link rel="stylesheet" href="/static/ui.selectmenu.css" type="text/css">
<style>
#collocates {
  background-color: #eeeeee;
  margin-top: 12pt;
  margin-bottom: 12pt; }
.tagcloudlink { background-color: #ccddee; }
</style>
<script>
$(function() {
$('#submit').button();
graphdiv=$('#graph-div').dialog({title:'Dependency graph',
                                 height: 400, width: 800,
                                 autoOpen:false});
});

var matrix_names={{matrix_names}};
var bg_colors=[[0.01,'#fcffb0'],[0.10,'#a8d9a7'],[0.20,'#59888c'],[0.40,'#223f59'],[0.66,'#081640']];
var fg_colors=[[0.01,'#000000'],[0.10,'#000000'],[0.20,'#ffffff'],[0.40,'#ffffff'],[0.66,'#ffffff']];

function get_bgcolor(val) {
  var result='#ffffff';
  for (var i=0; i<bg_colors.length; i++) {
    if (bg_colors[i][0]<val) {
      result=bg_colors[i][1];
    }
  }
  return result;
}

function get_fgcolor(val) {
  var result='#000000';
  for (var i=0; i<fg_colors.length; i++) {
    if (fg_colors[i][0]<val) {
      result=fg_colors[i][1];
    }
  }
  return result;
}

function display_similar(data) {
    var table_data=$.parseJSON(data);
    var parts=['<table>']
    for (var i=0; i<table_data.length; i++)
    {
      var row=table_data[i];
      parts.push('<tr><td>'+row[0]+'</td>');
      for (var j=1; j<row.length; j++) {
        var bgcol=get_bgcolor(row[j]);
        var fgcol=get_fgcolor(row[j]);
        parts.push('<td style="color: '+fgcol+'; background-color: '+bgcol+';">'+row[j].toFixed(2)+'</td>');
      }
      parts.push('</tr>');
    }
    parts.push('</table>')
    $('#examples').html(parts.join(''));
}

function loadCollocates() {
 var word1=$('#word1').val();
 var m_names=matrix_names;
 $('#collocates').html('');
 var p=$.ajax({url:'/pycwb/get_sketch?word1='+encodeURIComponent(word1),
success:function(data,status,xhr) {
 var wcloud_data;
 for (var i=0; i<matrix_names.length; i++)
 {
   var mat_name=matrix_names[i];
   wcloud_data=$.map($.parseJSON(data)[mat_name],
     function(it) { return {tag:it[0], count:it[1]}; });
       $('#collocates').append('<h3>'+mat_name+'</h3><div id="mat_'+i+'"></div>');
       $('#mat_'+i).tagCloud(wcloud_data, {'sort':function (a,b) {return b.count-a.count;}});
 }
 $('#collocates').accordion();
 }});
 var p2=$.ajax({url:'/pycwb/get_similar?word1='+encodeURIComponent(word1),
  success:display_similar});
}

function renderNode(r, n) {
  var color=colors[n.cat.charAt(0)];
  if (!color) color='#ccc';
  var txt=r.text(n.point[0], n.point[1] + 5, n.label)
       .attr({"font-size":"14px"});
  var w=txt.getBBox().width;
  var set = r.set().push(
     r.rect(n.point[0]-w/2-7, n.point[1]-13, txt.getBBox().width+14, 36)
       .attr({"fill": color, "stroke-width": 2, r : "9px"}))
       .push(txt);
  return set;
}

function loadGraph(sent_id) {
  $.ajax({url:'/pycwb/sentence_graph?sent_id='+sent_id,
     success: function(data) {
      var x=$.parseJSON(data);
      var nodes=x.nodes;
      var edges=x.edges;
      var g=new Graph();
      for (var i=0; i<nodes.length; i++) {
        g.addNode(nodes[i][0],{label:nodes[i][1],cat:nodes[i][2],
                               render: renderNode});
      }
      for (var i=0; i<edges.length; i++) {
        g.addEdge(edges[i][0], edges[i][1],
                  {directed: true, label: edges[i][2]});
      }
      var layouter = new Graph.Layout.Spring(g);
      layouter.layout();
      $('#graph-canvas').html('');
      graphdiv.dialog('open');
      var renderer = new Graph.Renderer.Raphael('graph-canvas', g, 800, 400);
      renderer.draw();
   }});
}
</script>
<body>
<h1>Word sketches</h1>
<div id="queryform">
<input id="word1"> <a id="submit" onclick="loadCollocates()">Get Collocates</a>
</div>
<div id="collocates">
</div>
<div id="examples">
</div>
<div id="graph-div" style="width:800px;height:400px">
<div id="graph-canvas"></div>
</div>
</body>
