<html>
<head>
<title>{{user}} / Stunden</title>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/static/jq/jquery-1.4.2.min.js"></script>
<script src="/static/jq/jquery.ui.core.min.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/jq/jquery.ui.datepicker.min.js"></script>
<script src="/static/json2.js"></script>
<link rel="stylesheet" href="/static/pycwb.css" type="text/css" /> 
<link rel="stylesheet" href="/static/themes/redmond/jquery.ui.all.css">
<script>
$(function() {
$('#datepicker').datepicker();
$('#datepicker').datepicker("option","dateFormat",'yy-mm-dd');
$('#datepicker').val('{{today_date}}');
});
</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/pycwb">PyCWB</a>
	  <ul class="nav">
	    <li><a href="/pycwb">Home</a></li>
	    <li><a href="/pycwb/tasks">All Tasks</a></li>
	    <li><a href="/pycwb/discourse_list">Discourse</a></li>
	    <li><a href="/pycwb/senses">Sense editor</a></li>
	    <li class="active"><a href="/pycwb/stunden">Stundentool</a></li>
            </ul>
        </div>
      </div>
</div>
<div class="container">
<section>
<div class="page-header">
<h1>Stunden ({{user}})</h1>
</div>
<div class="row">
<div class="span4">
  Bisher eingetragene Stunden:
  </div>
<div class="span8">
{{main_body}}
  </div>
  </div>

  <div class="row">
    <div class="span4">Neue Stunden eintragen</div>
<div class="span8">
<form id="stundenform" method="post" action="/pycwb/stunden" class="well form-horizontal">
<fieldset>
<div class="control-group">
    <label class="control-label" for="datepicker">Wann?</label>
    <div class="controls">
      <input type="text" class="input-small" name="when" id="datepicker" value="{{today_date}}">
    </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inp-what">Was?</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="inp-what" name="what" value="Annotation">
    </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="hours">Anz. Stunden:</label>
    <div class="controls">
      <input type="text" name="hours" class="input-mini" value="1">
    </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Eintragen</button>
    </div>
    </fieldset>
</form>
</div>
</section>
</div>
</body>
