<html>
<head>
<title>{{user}} / Stunden</title>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
<style>
body {
 padding-top:45px;
}
</style>
<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/static/jq/jquery-1.7.1.min.js"></script>
<script src="/static/jq/jquery.ui.core.min.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/jq/jquery.ui.datepicker.min.js"></script>
<script src="/static/json2.js"></script>
<link rel="stylesheet" href="/static/pycwb.css" type="text/css" /> 
<link rel="stylesheet" href="/static/themes/redmond/jquery.ui.all.css">
<script>
$(function() {
$('#datepicker').datepicker();
$('#datepicker').datepicker("option","dateFormat",'yy-mm-dd');
$('#datepicker').val('{{today_date}}');
});
</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/pycwb">PyCWB</a>
	  <ul class="nav">
	    <li><a href="/pycwb">Home</a></li>
	    <li><a href="/pycwb/tasks">All Tasks</a></li>
	    <li><a href="/pycwb/discourse_list">Discourse</a></li>
	    <li><a href="/pycwb/senses">Sense editor</a></li>
	    <li class="active"><a href="/pycwb/stunden">Stundentool</a></li>
            </ul>
        </div>
      </div>
</div>
<div class="container">
<div class="page-header">
<h1>Stunden ({{user}})</h1>
</div>
<section>

<div class="row">
<div class="span8 offset4">
<h3> Bisher eingetragene Stunden:</h3>
<p>
{{main_body}}
</p>
</div>
</div>
</section>
<section>
  <div class="row">
<div class="span8 offset4">
    <h3>Neue Stunden eintragen</h3>
<p>
<form id="stundenform" method="post" action="/pycwb/stunden" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="datepicker">Wann?</label>
      <div class="controls">
	<input type="text" class="input-small" name="when" id="datepicker" value="{{today_date}}">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inp-what">Was?</label>
      <div class="controls">
	<input type="text" class="input-xlarge" id="inp-what" name="what" value="Annotation">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="hours">Anz. Stunden:</label>
      <div class="controls">
	<input type="text" name="hours" class="input-mini" value="1">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Eintragen</button>
    </div>
  </fieldset>
</form>
</p>
</div>
</div>
</section>
</body>
