<html>
<head>
<title>[{{corpus}}] Annotation tasks</title>
<script src="/static/jq/jquery-1.4.2.min.js"></script>
<script src="/static/jq/jquery.tokeninput.js"></script>
<script src="/static/jq/jquery.ui.widget.min.js"></script>
<script src="/static/jq/jquery.ui.button.min.js"></script>
<script src="/static/json2.js"></script>
<link rel="stylesheet" href="/static/pycwb.css" type="text/css" /> 
<link rel="stylesheet" href="/static/token-input.css" type="text/css" /> 
<link rel="stylesheet" href="/static/token-input-facebook.css" type="text/css" /> 
<link rel="stylesheet" href="/static/themes/redmond/jquery-ui-1.8.2.custom.css" type="text/css" />
<script type="text/javascript">
var cls={
tokenList: "token-input-list-facebook",
token: "token-input-token-facebook",
tokenDelete: "token-input-delete-token-facebook",
selectedToken: "token-input-selected-token-facebook",
highlightedToken: "token-input-highlighted-token-facebook",
dropdown: "token-input-dropdown-facebook",
dropdownItem: "token-input-dropdown-item-facebook",
dropdownItem2: "token-input-dropdown-item2-facebook",
selectedDropdownItem: "token-input-selected-dropdown-item-facebook",
inputToken: "token-input-input-token-facebook"};

function insert_actual(taskid) {
  $('#annolist-'+taskid).html('<input type="text" id="input-'+taskid+'" value="" name="nm:'+taskid+'">');
  inp=$('#input-'+taskid);
  $('#save-'+taskid).button({disabled:true});
  inp.change(function() {$('#save-'+taskid).button({disabled:false})});
  inp.tokenInput("/pycwb/get_users",
     {hintText: "Annotatoren?!", prePopulate:task_annotators[taskid], classes:cls});
}

$(document).ready(function() {
var buttons=$('.savebtn');
buttons.button({disabled:true});
});

var task_annotators={};
{% for task in tasks %}
li_data=[];
{% for a in task.annotators %}li_data.push({id:'{{a}}',name:'{{a}}'});{% endfor %}
task_annotators['{{task._id}}']=li_data;
{%endfor%}

function do_save(item_id) {
  var p=$.ajax({async:false,
                data:$('#input-'+item_id).val(),
                processData:false,
                type:'POST',
                contentType:'text/plain',
                url:'/pycwb/saveTask/'+item_id+'?force_corpus={{corpus}}'});
  if (p.status!=200) { alert(p.responseText); }
  $('#save-'+item_id).button({disabled:true});
}
</script>
</head>
<body>
<h1>Annotations-Tasks für {{corpus}}</h1>
<table class="data_table">
<tr class="header_row">
<th>Name</th>
<th>Level</th>
<th>Annotatoren</th>
<th>Aktionen</th>
</tr>
{% for task in tasks %}
<tr class="{{loop.cycle('odd_row','even_row')}}" id="{{task._id}}">
<td>{{task._id}}</td>
<td>{{task.level}}</td>
<td class="annolist" id="annolist-{{task._id}}" onclick="insert_actual('{{task._id}}')">
<ul class="token-input-list-facebook">
{%for a in task.annotators %}
<li class="token-input-token-facebook">
<p>{{a}}</p>
<span class="token-input-delete-token-facebook">x</span>
</li>
{%endfor%}
</ul>
</td>
<td><a class="savebtn" id="save-{{task._id}}"
onclick="do_save('{{task._id}}')">Save</a>
[<a class="action" href="/pycwb/adjudicate/{{task._id}}?force_corpus={{corpus}}">Adjudicate</a>]
{% if task.level=='konn2' %}
[<a class="action" href="/pycwb/annotate2/{{task._id}}?force_corpus={{corpus}}">Annotate</a>]
{% else %}
[<a class="action" href="/pycwb/annotate/{{task._id}}?force_corpus={{corpus}}">Annotate</a>]
{% endif %}
</td></tr>
{% endfor %}
</table>
</body>
